h1{
  text-align: center;
  background-image: url("headd.png");
  font-size: 60px;
  font-family: cursive;
  background-position: center;
  position: fixed;
  top:-40px;
  left: 0;
  z-index: 999;
  height: 200px;
  width: 100%;
  background-position: center;
  width: 1000px;
  height: 200px;
  margin-left: 250px;
  background-size: cover;
  background-repeat: repeat;
}

