.header{
;
}

#center {
  margin-left: 150px;
}
.navbar {
font-family: Arial, Helvetica, sans-serif;
}
/* for spaces between buttons side-by-side*/
 .divider{
     width:50px;
     height:auto;
     display:inline-block;
 }
.navbar {
 overflow: hidden;
 background-color: #1B1B1B;
}
/* for home button */
.navbar a {
 float: left;
 font-size: 16px;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-weight: bold;
}
.dropdown {
 float: left;
 overflow: hidden;
}
.dropdown .dropbtn {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
 font-family: monospace;
 margin: 0;
 font-weight: bold;
}
.navbar a:hover, .dropdown:hover .dropbtn {
 background-color: pink;
}
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #1B1B1B;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}
.dropdown-content a {
 float: none;
 color: white;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: left;

}
.dropdown-content a:hover {
 background-color: #1B1B1B;
}
.dropdown:hover .dropdown-content {
 display: block;
}

#container {
  height: 400px;
  width: 400px;
  position: relative;
  display:   inline-block;
}
#image {
  position: absolute;
  left: 80px;
  top: 10px;
  display: inline-block;
  background-color: #1B1B1B;
  border-radius: 8px;
  margin-left: -85px;

}
#text {
  background-color: black;
  color: white;
  border-radius:;
  width: 150px;
  text-align: center;
  z-index: 100;
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  left: 50px;
  top: 75px;
}
#some {
  float: ;
  display:flex;
  top:10000px;
  background-color: #1B1B1B;
  border-radius: 11px;

}

.side{
  width: 50%;
  display:inline-block;
  float: right;

}
h2{
font-size: 30px;

}
#scroll{
  background-color: #1B1B1B;
  width: 300px;
  height: 150px;
  border: 1px dotted black;
  overflow: scroll;
  color: white;
  border-radius: 8px;

}

#selfcare{
  background-color: #F3CFFB;
  width: 300px;
  height: 150px;
  border: 1px dotted black;
  overflow: scroll;
  color: white;
  border-radius: 8px;

hr {
  border:none;
  border-top:3px dotted black;
  color:black;
  background-color:black;
  height: 5px;
  width:600px;
  margin-right: auto;
}
